{% comment %} {% extends "base.html"%}  {% endcomment %}
{% load static %}

{%block title%}
    <title>project list</title>
{%endblock%}
{%block main%}
<body>
    <h1> {{user.username}}님의 진행중인 포지션 입니다.</h1>
    {% for project in user_projects %}
        <span>
        <p>포지션 이름 : {{project.name}}</p>
        <p>인터뷰 진행 기간 : {{project.start_date}} ~ {{project.end_date}}</p>
        <p>참여 면접관 : </p>
        <a herf = "">수정하기</a>
        <!-- <form action="./delete-project/{{project.pid}}/" method ="post"> -->
            <form action="{% url 'home:delete' project.pid %}/" method ="post">
            {% csrf_token %}
            <input type = "submit" value = "삭제하기"/>
        </form>
        </span>
    {% endfor %}
    <div>
        <button type = "submit" onclick="location.href = `{% url 'home:create' %}`">프로젝트 생성하기</button>
    </div>
</body>
</html>
{%endblock%}