

h1 {
  font-family: "Noto Sans KR", sans-serif;
 
}
h2 {
  font-family: "Noto Sans KR", sans-serif;

}
h4 {
  font-family: "Noto Sans KR", sans-serif;
}

#more-info{
  display : flex;
  margin : 20px;
}
#nav-bar {
  display: flex;
  justify-content: start;
}
.nav-logo {
  margin: 20px;
  margin-left: 50px;
}

.nav-item {
  margin: 20px;
  margin-left: 100px;
  white-space: nowrap;
}
.nav-logout {
  margin: 20px;
  margin-left: 850px;
  white-space: nowrap;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.container-box {
  font-family: "Noto Sans KR", sans-serif;
  border: 0.5px solid;
  min-width: 300px;
  border-radius: 25px;
  box-shadow: 2px 3px 5px 0px gray;
  margin: 25px;
  height : 320px;
  padding: 25px;
  flex-shrink: 0;
  flex-grow: 1;
}

.make-project {
  margin-top: 50px;
}

.buttons {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.edit {
  margin-right: 10px;
}

.calendar-title {
  text-align: center;
}
.make-position {
  text-align: center;
}
.project-setting {
  text-align: center;
}
.position-container {
  width: 500px;
  margin: auto;
  border: 0.5px solid;
  border-radius: 25px;
  box-shadow: 2px 3px 5px 0px gray;
  padding: 25px;
}

.project-editing {
  width: 500px;
  margin: auto;
  border: 0.5px solid;
  border-radius: 25px;
  box-shadow: 2px 3px 5px 0px gray;
  padding: 25px;
}


