<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Title{% endblock %}</title>
  <style>
    #nav-bar {
      display: flex;
      justify-content: start;
    }
    .nav-item {
        margin: 10px;
    }
  </style>
  {% block head %}
  {% endblock %}
</head>
<body>
    <nav id="nav-bar">
        <div class="nav-item">
            <a href="{% url 'home:home' %}">Home</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'home:create' %}">블로그</a>
        </div>
        <div class="nav-item">
        <form action="" method = "post">
            {% csrf_token %}
                <button type="submit">로그아웃</button>
            </form>
        </div>
    </nav>
    {% block body %}

    {% endblock %}
</body>
</html>