<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {% load socialaccount %}
    <div id = "login-container"> 
    <img src="logo.png">
    <h1>반갑습니다, 플래닌입니다!</h1>
    <h3>아이디와 비밀번호를 입력해주세요</h3>
        <div class = "google-login">
        <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="구글로 로그인">
        </form>
        </div>
    <!-- <a href = "{% provider_login_url 'google' %}">구글로 로그인</a> -->
    </div>
</body>
</html>

<style>
    h1 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 32px;
    }
    h2 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 24px;
    }
    h4 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
    }
    #login-container {
        flex:auto;
        text-align: center;
        margin-top: 200px;
    }
    .google-login {
        margin-top: 50px;
    }
    
</style>
  